@model MoneyFlow.Models.ModalView<string>

@{
    var ariaLabelTitle = $"modalLabel{Model.ModalId}";
}

<div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-labelledby="@ariaLabelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div id="@ariaLabelTitle" class="modal-title fs-5">@Model.ConfirmationMessage.ToUpper()</div>
                <i class="clickable bi bi-x-circle" onclick="closeModal('@Model.ModalId')"></i>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col d-flex justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="bi bi-exclamation-diamond-fill" fill="#ffcc00" viewBox="0 0 16 16">
                            <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                        </div>
                    </div>
                    <div class="text-center">Apakah Anda yakin</div>
                    <div class="text-center">ingin @Model.ConfirmationMessage?</div> 
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="col d-flex justify-content-center align-items-center">
                        <form action="@Model.ActionUrl" method="get" class="mb-0">
                            <div class="form-group flex-grow-1 mr-1 my-1">
                                <input type="submit" value="Hapus" class="btn btn-danger" />
                            </div>
                        </form>
                        <button class="btn btn-primary my-1 ml-1" onclick="closeModal('@Model.ModalId')">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
