@using MoneyFlow.Models;
@model MoneyFlow.Models.ViewModels.TableViewModel<Product>;

@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<p>
    <a href="@baseUrl/product/create">Buat baru</a>
</p>
<form action="/product" method="get">
    <div class="form-actions">
        <p>
            Cari produk: <input type="text" name="keyword" value="@ViewData["searchKeyword"]" placeholder="Cari..." />
            <input type="submit" value="Cari" class="btn btn-primary" /> | <a href="@baseUrl/product">Reset pencarian</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Produk
            </th>
            <th>
                Tipe
            </th>
            <th>
                Harga
            </th>
            <th>
                URL Gambar
            </th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data.Count != 0) {
            foreach (var item in Model.Data) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td class="row justify-content-around">
                        <form action="/product/delete/@item.Id" method="get">
                            <div class="form-group flex-grow-1">
                                <input type="submit" value="Hapus" class="btn btn-danger" />
                            </div>
                        </form>
                        <form action="/product/update/@item.Id" method="get">
                            <div class="form-group flex-grow-1">
                                <input type="submit" value="Ubah" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@await Html.PartialAsync("~/Views/Shared/Components/PaginationView.cshtml", Model.PaginationView);
