@model MoneyFlow.Models.TableView<Motivation>;
@using MoneyFlow.Data;
@using MoneyFlow.Models.DetailComponents;
@using MoneyFlow.Models;
@using MoneyFlow.Constants;

@{
    string baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    List<ModalView<string>> modalDeleteList = new List<ModalView<string>>();
    List<ModalView<Motivation>> modalDetailList = new List<ModalView<Motivation>>();
    SearchBar searchBar = new SearchBar(Model.SearchBarView.Keyword);
    searchBar.CreateDataUrl = $"{baseUrl}{UriPath.MOTIVATIONS_CREATE}";
}

<h4 class="text-center my-3"><b>@ViewData["Title"]</b></h4>

@await Html.PartialAsync(
    "~/Views/Shared/Components/PageComponents/SearchBar.cshtml", 
    searchBar
)

<div class="container">
    <div class="row justify-content-center align-middle">
        @foreach (Motivation motivation in Model.Data) 
        {
            string modalDeleteId = $"modalDelete{motivation.Id}";
            string modalDetailId = $"modalDetail{motivation.Id}";
            string targetImageUrl = $"{baseUrl}/file/image/{GeneralConstants.PURPOSE_MOTIVATIONS}/{motivation.TargetImage}";
            modalDeleteList.Add(new ModalView<string>(
                modalDeleteId, $"/motivations/delete/{motivation.Id}", "hapus pengeluaran"
            )); 
            modalDetailList.Add(new ModalView<Motivation>(
                modalDetailId, data: motivation
            ));
            <div class="card col-sm-3 m-2" style="border-radius: 25px; border-color: black; min-width: 17.5rem;">
                <img class="card-img-top my-1" src="@targetImageUrl" style="height: 15rem; border-radius: 25px;">
                <div class="card-body" style="height: 11rem;">
                    <h5 class="card-title wrapped-title mt-2"><strong>@motivation.TargetName</strong></h5>
                    <div class="card-text mb-2"><strong>@Html.DisplayFor(modelItem => motivation.TargetPrice, "Money")</strong></div>
                    <div class="wrapped-content">
                        @motivation.Description
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row align-middle justify-content-center">
                            <div class="d-flex align-items-center justify-content-center">
                                <button type="button" onclick="openModal('@modalDetailId')" class="btn btn-success">Detail</button>
                                <button type="button" onclick="openModal('@modalDeleteId')" class="btn btn-danger mx-2">Hapus</button>
                                <form action="/motivations/update/@motivation.Id" method="get" class="mb-0">
                                    <div class="form-group flex-grow-1 my-0">
                                        <input type="submit" value="Ubah" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>  
@if (Model.Data.Count == 0)
{
    @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/EmptyDataView.cshtml");
} else
{
    @await Html.PartialAsync("~/Views/Shared/Components/PageComponents/PaginationView.cshtml", Model.PaginationView)

    <div class="d-flex justify-content-center align-items-center row row-cols-2 my-3">
        <a class="btn btn-primary" href="@baseUrl/file/generate-excel/motivations" download>
            <i class="bi bi-download"></i>
            Tabel Excel
        </a>
    </div>
    for (int i = 0; i < modalDetailList.Count; i++)
    {
        @await Html.PartialAsync("~/Views/Shared/Components/Modal/DeleteConfirmationModalView.cshtml", modalDeleteList[i]);
        @await Html.PartialAsync("~/Views/Motivation/DetailMotivationsModal.cshtml", modalDetailList[i]);
    }
}
