@model MoneyFlow.Models.ModalView<string>

@{
    var ariaLabelTitle = $"modalLabel{Model.ModalId}";
}

<div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-labelledby="@ariaLabelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div id="@ariaLabelTitle" class="modal-title fs-5"><strong>Beli Barang</strong></div>
                <i class="clickable bi bi-x-circle" onclick="closeModal('@Model.ModalId')"></i>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#28a745" class="bi bi-bag-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="text-center">Apakah Anda yakin</div>
                    <div class="text-center">ingin membeli <strong>@Model.Data</strong>?</div> 
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="btn btn-success mr-1" onclick="submitUpdate('@Model.SubmitId')">@Model.ConfirmationMessage</button>
                        <button class="btn btn-primary ml-1" onclick="closeModal('@Model.ModalId')">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
